<!doctype html>
<html lang="en">
<head th:replace="fragments/bootstrap :: head"></head>
<body class="fix-header card-no-border fix-sidebar">
	<th:block th:include="fragments/bootstrap :: preloader"></th:block>
	<div id="main-wrapper">	
		<th:block th:include="fragments/bootstrap :: navigation"></th:block>		
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Create</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/activity/account/stats}">Account Stats</a></li>
                            <li class="breadcrumb-item active">Create</li>
                        </ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
                                <form th:action="@{/activity/register}" method="post" id="request--container" class="form-material" enctype="multipart/form-data" autocomplete="off">
                                    <div class="form-group">
                                        <label>Subject</label>
                                        <input type="text" placeholder="I need ..." class="form-control form-control-line" name="title">
                                    </div>
                                    <div class="form-group">
                                        <label>Content</label>
                                        <textarea class="form-control pt-1" rows="8" name="content" placeholder="Enter text ..."></textarea>
                                        <span class="help-block text-muted">
                                            <small>A block of help text that breaks onto a new line and may extend beyond one line.</small>
                                        </span>
                                    </div>
                                    <th:block th:if="${user?.admin}">
                                    <div class="form-group row">
                                        <div class="col-md-6">
	                                    	<label>Technical Support</label>
	                                        <select class="form-control" name="responsible">
	                                        	<option value="0">Choose</option>
	                                        	<option th:each="technical : ${technicians}" th:value="${technical.id}" th:text="${technical.username}"></option>
	                                        </select>
	                                        <span class="help-block text-muted">
	                                            <small>A block of help text that breaks onto a new line and may extend beyond one line.</small>
	                                        </span>
                                    	</div>
                                    	<div class="col-md-6">
                                    		<label>Commitment Dates</label>
											<div class="input-group input-daterange" id="date-range">
												<input type="text" class="form-control" name="start" readonly="readonly">
												<div class="input-group-append">
													<span class="input-group-text bg-info border-info text-white">TO</span>
												</div>
												<input type="text" class="form-control" name="end" readonly="readonly">
											</div>
                                    	</div>
                                    </div>
                                    </th:block>
                                    <div class="form-group">
                                        <label for="input-file-max-fs">File upload</label>
                                        <input type="file" name="file" id="input-file-max-fs" class="dropify" data-height="100">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success">Create Request</button>
                                    </div>
                                </form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer"> &copy; 2017 Admin Pro by wrappixel.com </footer>
		</div>	
	</div>
	
	<th:block th:include="fragments/bootstrap :: scripts"></th:block>
	
	<script th:inline="javascript">/*<![CDATA[*/	
	var Cx00 = /*[[${T(com.arakxz.core.business.service.ActivityService).OK}]]*/ -1;
	var Cx01 = /*[[${T(com.arakxz.core.business.service.ActivityService).ERROR}]]*/ -1;
	var Cx02 = /*[[${T(com.arakxz.core.business.service.ActivityService).ERROR_IN_DATES}]]*/ -1;
	
	var Ox00 = {
		/**
		 * @param {Number} response
		 */
		response: /*[[${status}]]*/ 0
	};
	/*]]>*/</script>
	
	<script th:src="@{/assets/plugins/dropify/dist/js/dropify.min.js}"></script>
	<script th:src="@{/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets/js/activity/create.js}"></script>
	
</body>
</html>