<!doctype html>
<html lang="en">
<head th:replace="fragments/bootstrap :: head"></head>
<body class="fix-header card-no-border fix-sidebar">
	<th:block th:include="fragments/bootstrap :: preloader"></th:block>
	<div id="main-wrapper">	
		<th:block th:include="fragments/bootstrap :: navigation"></th:block>		
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Blank Page</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="card">
							<div class="card-body">This is some text within a card block.</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer"> © 2017 Admin Pro by wrappixel.com </footer>
		</div>	
	</div>	
	<th:block th:include="fragments/bootstrap :: scripts"></th:block>
</body>
</html>