<!doctype html>
<html lang="en">
<head th:replace="fragments/bootstrap :: head"></head>
<body class="fix-header card-no-border fix-sidebar">
	<th:block th:include="fragments/bootstrap :: preloader"></th:block>
	<div id="main-wrapper">	
		<th:block th:include="fragments/bootstrap :: navigation"></th:block>		
		<div class="page-wrapper">
			<div class="container-fluid">
				<div class="row page-titles">
					<div class="col-md-5 align-self-center">
						<h3 class="text-themecolor">Profile</h3>
					</div>
					<div class="col-md-7 align-self-center">
						<ol class="breadcrumb">
                            <li class="breadcrumb-item active">Profile</li>
                        </ol>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                            <div class="card-body">
                                <center class="m-t-30">
                                	<img src="../assets/images/users/5.jpg" class="img-circle" width="150" />
                                    <h4 th:text="${user.username}" class="card-title m-t-10">Hanna Gover</h4>
                                    <h6 class="card-subtitle">Accoubts Manager Amix corp</h6>
                                    <div class="row text-center justify-content-md-center">
                                        <div class="col-4"><a href="javascript:void(0);" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                        <div class="col-4"><a href="javascript:void(0);" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                        	<!-- tabs -->
                        	<ul class="nav nav-tabs customtab">
                        		<li class="nav-item">
                        			<a class="nav-link active" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
                        		</li>
                        		<li class="nav-item">
                        			<a class="nav-link" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                        		</li>
                        	</ul>
                        	<div class="tab-content">
                        		<div role="tabpanel" class="tab-pane active" id="profile" aria-labelledby="profile-tab">
									<div class="card-body">
										<div class="row">
											<div class="col-md-4 col-xs-6 b-r">
												<strong>Full Name</strong>
												<br>
												<p th:text="${user.profile?.name}" class="text-muted">Johnathan Deo</p>
											</div>
											<div class="col-md-3 col-xs-6 b-r">
												<strong>Mobile</strong>
												<br>
												<p th:text="${user.profile?.phone}" class="text-muted">(123) 456 7890</p>
											</div>
											<div class="col-md-5 col-xs-6">
												<strong>Email</strong>
												<br>
												<p th:text="${user.email}" class="text-muted"></p>
											</div>
											<!-- <div class="col-md-3 col-xs-6"> -->
											<!-- 	<strong>Location</strong> -->
											<!-- 	<br> -->
											<!-- 	<p class="text-muted">London</p> -->
											<!-- </div> -->
										</div>
										<hr>
										<p th:text="${user.profile?.message}" class="m-t-30"></p>
										<!-- <h4 class="font-medium m-t-30">Skill Set</h4> -->
										<!-- <hr> -->
										<!-- <h5 class="m-t-30"> -->
										<!-- 	Wordpress <span class="pull-right">80%</span> -->
										<!-- </h5> -->
										<!-- <div class="progress"> -->
										<!-- 	<div class="progress-bar bg-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%; height: 6px;"> -->
										<!-- 		<span class="sr-only">50% Complete</span> -->
										<!-- 	</div> -->
										<!-- </div> -->
										<!-- <h5 class="m-t-30"> -->
										<!-- 	HTML 5 <span class="pull-right">90%</span> -->
										<!-- </h5> -->
										<!-- <div class="progress"> -->
										<!-- 	<div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%; height: 6px;"> -->
										<!-- 		<span class="sr-only">50% Complete</span> -->
										<!-- 	</div> -->
										<!-- </div> -->
										<!-- <h5 class="m-t-30"> -->
										<!-- 	jQuery <span class="pull-right">50%</span> -->
										<!-- </h5> -->
										<!-- <div class="progress"> -->
										<!-- 	<div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%; height: 6px;"> -->
										<!-- 		<span class="sr-only">50% Complete</span> -->
										<!-- 	</div> -->
										<!-- </div> -->
										<!-- <h5 class="m-t-30"> -->
										<!-- 	Photoshop <span class="pull-right">70%</span> -->
										<!-- </h5> -->
										<!-- <div class="progress"> -->
										<!-- 	<div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%; height: 6px;"> -->
										<!-- 		<span class="sr-only">50% Complete</span> -->
										<!-- 	</div> -->
										<!-- </div> -->
									</div>
								</div>
                        		<div role="tabpanel" class="tab-pane" id="settings" aria-labelledby="settings-tab">
                        			<div class="card-body">
		                                <form th:action="@{/profile/create}" method="post" class="form-horizontal form-material">
		                                    <div class="form-group">
		                                        <label class="col-md-12">Full Name</label>
		                                        <div class="col-md-12">
		                                            <input th:value="${user.profile?.name}" name="name" type="text" placeholder="Johnathan Doe" class="form-control form-control-line">
		                                        </div>
		                                    </div>
		                                    <!-- <div class="form-group"> -->
		                                    <!--    <label for="example-email" class="col-md-12">Email</label> -->
		                                    <!--    <div class="col-md-12"> -->
		                                    <!--        <input th:value="${user?.email}" name="email" type="email" placeholder="johnathan@admin.com" class="form-control form-control-line"> -->
		                                    <!--    </div> -->
		                                    <!-- </div> -->
											<!-- <div class="form-group"> -->
											<!--     <label class="col-md-12">Password</label> -->
											<!--     <div class="col-md-12"> -->
											<!--         <input type="password" value="password" class="form-control form-control-line"> -->
											<!--     </div> -->
											<!-- </div> -->
		                                    <div class="form-group">
		                                        <label class="col-md-12">Phone No</label>
		                                        <div class="col-md-12">
		                                            <input th:value="${user.profile?.phone}" name="phone" type="text" placeholder="123 456 7890" class="form-control form-control-line">
		                                        </div>
		                                    </div>
		                                    <div class="form-group">
		                                        <label class="col-md-12">Message</label>
		                                        <div class="col-md-12">
		                                            <textarea th:text="${user.profile?.message}" name="message" rows="5" class="form-control form-control-line"></textarea>
		                                        </div>
		                                    </div>
		                                    <!-- <div class="form-group"> -->
		                                    <!--     <label class="col-sm-12">Select Country</label> -->
		                                    <!--     <div class="col-sm-12"> -->
		                                    <!--         <select class="form-control form-control-line"> -->
		                                    <!--             <option>London</option> -->
		                                    <!--             <option>India</option> -->
		                                    <!--             <option>Usa</option> -->
		                                    <!--             <option>Canada</option> -->
		                                    <!--             <option>Thailand</option> -->
		                                    <!--         </select> -->
		                                    <!--     </div> -->
		                                    <!-- </div> -->
		                                    <div class="form-group">
		                                        <div class="col-sm-12">
		                                            <button class="btn btn-success">Update Profile</button>
		                                        </div>
		                                    </div>
		                                </form>
                            		</div>
                        		</div>
                        	</div>
                        	<!-- end tabs -->
                        </div>
                    </div>
				</div>
			</div>
			<footer class="footer"> &copy; 2017 Admin Pro by wrappixel.com </footer>
		</div>	
	</div>	
	<th:block th:include="fragments/bootstrap :: scripts"></th:block>
</body>
</html>